.programs {
    width: 100%;
    background: #f9f9f9;
    padding: 20px;
    border: 10px solid transparent;
    border-image: url('./assets/footerbg.jpg') 30 round;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs button {
    margin-top: 20px;
}

.porgramsbtn {
    display: block;
    width: 30%;
    align-self: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.porgramsbtn:hover {
    background-color: #0056b3;
}

.programs-heading {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.programs-container {
    display: flex;
    justify-content: center;
}

.pro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .hide-mobile {
        display: none;
    }
}