.footer {
  width: 100%;
  height: auto; /* Adjust height for dynamic content */
  /* background-color: #f8f9fa; */
  display: flex;
  color: #000000; /* Darker text color for better readability */
  padding: 2vw;
  box-sizing: border-box;
  /* background-image: url('E:/test/test/public/assets/footerbg.jpg'); */
  background-size: cover;
  flex-wrap: wrap; /* Allow flex items to wrap on smaller screens */
}

.footerlogo,
.footerQR,
.footerContatct,
.gmap {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack elements vertically */
  padding: 1rem; /* Add padding for better spacing */
}

.footerlogo img,
.footerQR img,
.gmap img {
  max-width: 80%; /* Ensure images fit well */
  height: auto;
}

.footerQR h3, .footerQR p,
.footerContatct h3,
.footerContatct ul,
.footerContatct li,
.footerContatct i,
.footeradd {
  margin: 0;
  padding: 0;
}

.footerQR img,
.gmap img {
  width: 50%; /* Adjust width for better fit */
  margin-top: 1rem;
  transition: all 1s ease; /* Add transition effect for hover */
}

.gmap img:hover {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .footerlogo,
  .footerQR,
  .footerContatct,
  .gmap {
    width: 100%; /* Full width on smaller screens */
  }

  .footerQR img,
  .gmap img {
    width: 70%; /* Adjust width for better fit on smaller screens */
  }
}

@media (max-width: 480px) {
  .footerQR img,
  .gmap img {
    width: 80%; /* Adjust width for better fit on smaller screens */
  }
}

.footerContatct ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerContatct li {
  margin-bottom: 1rem;
  /* display: flex;
  align-items: ce
  nter; */
}

.footerContatct i {
  margin-right: 0.5rem;
}

.footeradd {
  margin-left: 0.5rem;
  display: inline-block;
  white-space: nowrap; /* Prevent line break */
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Space between icons and map */
}

.social-media a {
  color: #000000; /* Color for the icons */
  margin: 0 0.5rem;
  font-size: 1.5rem; /* Size of the icons */
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #007bff; /* Color on hover */
}

.designed-by {
  text-align: center;
  margin-top: 1rem;
  font-size: 1rem;
  color: #000; /* Darker text color */
}
